@use "../helpers" as *;

.bordered-grid {
  --columns: 1;
  --itemPaddingY: #{fluid(80, 40)};

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);

  &--2-cols {
    --columns: 2;
    --itemPaddingX: #{rem(80)};

    @include laptop {
      --itemPaddingX: #{rem(50)};
    }

    @include mobile-above {
      .bordered-grid__item {
        &:nth-child(odd) {
          padding-right: var(--itemPaddingX);
          border-right: var(--border);
        }

        &:nth-child(even) {
          @include full-vw-centered-line(bottom, auto, 100%, 50%);

          padding-left: var(--itemPaddingX);
        }
      }
    }

    @include mobile {
      --columns: 1;

      .bordered-grid__item:not(:last-child) {
        border: var(--border);
      }
    }
  }

  &--3-cols {
    --columns: 3;
    --itemPaddingX: #{rem(50)};

    @include laptop {
      --itemPaddingX: #{rem(40)};
    }

    @include tablet-above {
      .bordered-grid__item {
        // элементы в 1-й и 2-й колонки
        &:nth-child(3n - 2),
        &:nth-child(3n - 1) {
          padding-right: var(--itemPaddingX);
          border: var(--border);
        }
        // элементы во 2-й колонке
        &:nth-child(3n - 1) {
          @include full-vw-centered-line(bottom);
        }

        // элементы в 2-й и 3-й колонки
        &:nth-child(3n - 1),
        &:nth-child(3n) {
          padding-left: var(--itemPaddingX);
        }
      }
    }

    @include tablet {
      --columns: 1;

      .bordered-grid__item:not(:last-child) {
        border: var(--border);
      }
    }
  }

  &__item {
    padding-block: var(--itemPaddingY);
  }
}
