@use "../helpers" as *;

.team {
  --pesonImageSize: #{rem(60)};

  display: flex;
  padding: rem(10);
  background: var(--color-dark-10);
  border: var(--border);
  border-radius: rem(100);

  @include laptop {
    --pesonImageSize: #{rem(50)};

    padding: rem(8);
  }

  @include laptop {
    --pesonImageSize: #{rem(40)};
  }

  &__person {
    width: var(--pesonImageSize);
    background-color: var(--color-dark-15);
    border: rem(2) solid var(--color-dark-40);
    border-radius: 50%;

    @include laptop {
      border-width: rem(1);
    }

    &:not(:first-child) {
      margin-left: calc(var(--pesonImageSize) / 4 * -1);
    }
  }
}
